CREATE SERVER IF NOT EXISTS server_payment_remote
    FOREIGN DATA WRAPPER dblink_fdw
    OPTIONS (host ':host', dbname ':dbname', port ':port');
GRANT USAGE ON FOREIGN SERVER server_payment_remote TO lian_admin;
CREATE USER MAPPING IF NOT EXISTS FOR lian_admin SERVER server_payment_remote OPTIONS (user ':user', password ':password');

-- REMOTE CONNECTION TO STOCK DATABASE
CREATE SERVER IF NOT EXISTS server_stock_remote
FOREIGN DATA WRAPPER dblink_fdw
OPTIONS (host ':host', dbname ':dbname', port ':port');
GRANT USAGE ON FOREIGN SERVER server_stock_remote TO lian_admin;
CREATE USER MAPPING IF NOT EXISTS FOR lian_admin SERVER server_stock_remote OPTIONS (user ':user', password ':password');
